.card {
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  width: 80%;
  margin: auto;
  margin-top: 2rem;
}

.image {
  width: 10rem;
  margin: 2em;
}

.description {
  text-align: start;
  line-height: 1.8rem;
  flex: 100%;
  margin-left: 1em;
}

.vertical {
  border: none;
  margin-left: 0;
  margin-top: 1rem;
  border-top: 1px solid white;
  width: 90%;
  height: 1px;
}

.name,
p {
  margin: 0;
}
