@value makerGreen from "/src/common/colors.css";

.preview {
  text-align: center;
  flex: 50%;
  padding: 0.5em 2em;
}

.title {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  margin-bottom: 1em;
  color: makerGreen;
}

@media screen and (max-width: 62rem) {
  .preview {
    width: 80%;
  }
}
