@value makerWhite,makerGreen from "/src/common/colors.css";

.button {
  background-color: makerGreen;
  color: makerWhite;
  font-weight: bold;
  cursor: pointer;
  padding: 0.5rem;
  flex: 1 1 50%;
}
