@value makerGrey from './common/colors.css';

.login_container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: makerGrey;
}

.maker_contaier {
  height: 100vh;
  display: flex;
  align-items: center;
}
