@value makerGreen,makerWhite,makerLightGrey from "/src/common/colors.css";

h1 {
  margin: 0;
}

.container {
  width: 90%;
}

.main {
  display: flex;
  background-color: makerWhite;
  width: 100%;
  height: 85%%;
}

hr {
  border: none;
  border-left: 0.1rem dotted makerLightGrey;
  margin-top: 0;
  color: makerWhite;
  background-color: makerWhite;
  height: 100%;
  width: 0.1rem;
}

.maker_container,
.preview_container {
  text-align: center;
  width: 49%;
}

.title {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  color: makerGreen;
}

@media screen and (max-width: 54rem) {
  .main {
    flex-direction: column;
    align-items: center;
  }

  hr {
    margin-left: 0;
    border-top: 0.1rem dotted makerLightGrey;
    height: 0.1rem;
    width: 100%;
  }

  .maker_container,
  .preview_container {
    text-align: center;
    height: 49%;
    width: 100%;
  }
}
