  @value {makerGreen,makerWhite from "/src/common/colors.css";

.head {
  width: 100%;
  text-align: center;
  padding: 1rem;
  background-color: makerGreen;
  color: white;
}

.logo {
  width: 3rem;
}

.title {
  font-size: 2rem;
  margin: 0;
}
