input,
textarea,
select,
button {
  border: none;
  outline: none;
}

.form {
  display: table;
  margin: auto;
  margin-top: 2rem;
  width: 80%;
  border-collapse: collapse;
}

.container {
  display: table-column;
  border: 1px solid black;
  border-collapse: collapse;
}

.containers {
  display: table-cell;
  border: 1px solid black;
  border-collapse: collapse;
}
